<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basic Node App</title>
</head>
<body>
    The Date on the server now is:  <%= TodaysDate + ' ' + TodaysTime %>
</body>
</html>